<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
    <a class="navbar-brand" href="#">Portvisual</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
  
        <li class="nav-item">
          <a class="nav-link" routerLink="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact-list">Independent</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact-create">Advisor</a>
        </li>
  
      </ul>
    </div>
  </nav>

  <div class="jumbotron" style="background-color: #fff; height: calc(95vh);">
    <h1>Angular Bootstrap Demo</h1>
    <p class="lead">
      This demo shows how to integrate Bootstrap 4 with Angular 7  
    </p>
    <a class="btn btn-lg btn-primary" href="" role="button">View tutorial</a>
  </div>
