 <div>
 <div class="j1 jumbotron jumbotron-fluid" style="background: url(./assets/img/banner.jpeg); background-size:cover;background-position: top; ">
    <div class="container">
      <h1 class="text-left display-5" style="color: white;">A New Age Way To View Your Portfolio</h1>
      <p class="text-right display-6" style="color: white;"><i>View Through Portvisual</i></p>
    </div>
  </div>

  <div class="jumbotron jumbotron-fluid" style=" background:grey;">
    <div class="container">
      <h1 class="text-left"></h1>
      <p class="text-right "></p>
    </div>
  </div>

  <div class="jumbotron jumbotron-fluid" style="size:6vh;">
    <div class="container">
      <h1 class="text-left"></h1>
      <p class="text-right"></p>
    </div>
  </div>
  <div class="jumbotron jumbotron-fluid" style="size:6vh;">
    <div class="container">
      <h1 class="text-left"></h1>
      <p class="text-right"></p>
    </div>
  </div>
  
  <div id="here" class="break-page"></div> 
  <div class="jumbotron jumbotron-fluid" style="size:6vh;">
    <div class="container">
      <h1 class="text-left">A New Age Way To View Your Portfolio</h1>
      <p class="text-right">View Through Portvisual</p>
    </div>
  </div>
</div>