 <div>
 <div class="j1 jumbotron jumbotron-fluid" style="background: url(./assets/img/banner.jpeg); background-size:cover;background-position: top; ">
    <div class="container">
      <h1 class="text-left display-5" style="color: white;">A New Age Way To View Your Portfolio</h1>
      <p class="text-right display-6" style="color: white;"><i>View Through Portvisual</i></p>
    </div>
  </div>

  <div class="j2 jumbotron jumbotron-fluid" style="size:6vh;">
    <div class="container">
      <h2 class="text-center">Follow your portfolio on a visual need to know basis</h2>
      <h3 class="text-center">Schedual - Receive - Review</h3>
      <p class="text-center">Receive anlysis via push notification or email</p>
    </div>
  </div>
  


  <div class="jumbotron jumbotron-fluid" style="size:6vh;">
    <div class="container">
      <h2 class="text-center">With Portvisual you can keep up with the markets</h2>
      <h3 class="text-center"> </h3>
      <p class="text-center"></p>
    </div>
  </div>
  
  <div id="adv" class="break-page"></div> 
  <div class="jumbotron jumbotron-fluid" style="size:6vh;">
    <div class="container">
      <h1 class="text-left">Advisors</h1>
      <h3 class="text-left">Schedual your clients portfolios</h3>
      <p class="text-left">Within Portvisual you can create and send notifications about their holdings</p>
      <h5 class="text-left">Just because finance is tuening towards automation doesnt mean that you need to provide less</h5>
      <h5 class="text-right">Provide with Portvisual</h5>
    </div>
  </div>
  
  <div id="indi" class="break-page"></div> 
  <div class="jumbotron jumbotron-fluid" style="size:6vh;">
    <div class="container">
      <h1 class="text-left">Independent Investors</h1>
      <h3 class="text-left">Visualize your portfolio</h3>
      <p class="text-center">Receive visual analysis of your holdings based on determined signals or a weekly update</p>
    </div>
  </div>
</div>